<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!--AWS sign in -->
        <property name="connection.url">jdbc:mysql://awseb-e-du475xxcsb-stack-awsebrdsdatabase-mqmwxgzupezt.cenudwkacxrw.eu-north-1.rds.amazonaws.com:3306/questie</property>
        <property name="connection.username">student</property>
        <property name="connection.password">students</property>

        <!--Offline sign in-->
<!--        <property name="connection.url">jdbc:mysql://localhost:3306/questie</property>-->
<!--        <property name="connection.username">root</property>-->
<!--        <property name="connection.password">root</property>-->

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <mapping class="questie.entity.User"/>
        <mapping class="questie.entity.Quest"/>
        <mapping class="questie.entity.Favorite"/>
        <mapping class="questie.entity.FavoriteQuest"/>
    </session-factory>
</hibernate-configuration>