files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDxzCCAq8CFByHVo1ah+F9aReOuijPkbhgLOt6MA0GCSqGSIb3DQEBCwUAMIGf
      MQswCQYDVQQGEwJOTzESMBAGA1UECAwJSW5ubGFuZGV0MQ8wDQYDVQQHDAZJbHNl
      bmcxEDAOBgNVBAoMB1F1ZXN0aWUxCzAJBgNVBAsMAklUMSIwIAYDVQQDDBltYnJ5
      YW5AbWFkaXNvbmNvbGxlZ2UuZWR1MSgwJgYJKoZIhvcNAQkBFhltYnJ5YW5AbWFk
      aXNvbmNvbGxlZ2UuZWR1MB4XDTIzMDIyODEyNDMxOFoXDTI0MDIyODEyNDMxOFow
      gZ8xCzAJBgNVBAYTAk5PMRIwEAYDVQQIDAlJbm5sYW5kZXQxDzANBgNVBAcMBkls
      c2VuZzEQMA4GA1UECgwHUXVlc3RpZTELMAkGA1UECwwCSVQxIjAgBgNVBAMMGW1i
      cnlhbkBtYWRpc29uY29sbGVnZS5lZHUxKDAmBgkqhkiG9w0BCQEWGW1icnlhbkBt
      YWRpc29uY29sbGVnZS5lZHUwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
      AQCt8ECa8f02jrxyoBAk5K8Sth0dEVZRZKWS221cdGsuMvz+KHYDHDvVeJfZlzDK
      UOcfEd/JLsdQwUYvpFLB+ClVcIYNQUFVeKTjoMpXqMvre5Xaa8lMEfPF9slgkOhH
      TUvh/yOvkRkD/jBrVgqxXuF3Q+zV+GzeIr+1INqy8aMDHwzCjdj0lEzuQ9hJpxtX
      i+cMvtZcz8yB/eBV5Rcbw8MCkweW1Cb+qcT1WebKsbpMuNVlAYSjaAKRCQiLKJFs
      exqWl6aH1epbi5K/eB5+R7qQ9D5JzbLkFuP1s2aWjNu8W7/BguvTvMoMJxx6vwFY
      Rs3WJ1sr8kKkZOQLZ2dD5HILAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAHxMMdjW
      vsa/iWr3ZeWIIGjBTRAnA8KSHAV/Tuaduw51ZvtxtLKbP68Izgk/pxWR2YPdf5RR
      Fm/gvpXBgCYUL03J81UtcoGIypTjolKYsvNZ1spW7ri+wmCMgspPgOaJrv0+LuHU
      P+9g4yI3+wWmqAk2C9xHpMNNNPdxsZ+e48/ofPdpl3mVKKmS3G1iqVTvYo4eHlBa
      AMl6PubsnXRJSra2GXOUP58/rCI1nGgVlGEFugAKcOUpzfkH0MrL4p2bJHi+pYa4
      WlCLgnJs2p+P/OE4W/80f75pTJWqw1DIm1V8TpRhHUBW3mjAP02Ml2nSbdaoTHQ6
      /3/F91TMn9oOejY=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEArfBAmvH9No68cqAQJOSvErYdHRFWUWSlktttXHRrLjL8/ih2
      Axw71XiX2ZcwylDnHxHfyS7HUMFGL6RSwfgpVXCGDUFBVXik46DKV6jL63uV2mvJ
      TBHzxfbJYJDoR01L4f8jr5EZA/4wa1YKsV7hd0Ps1fhs3iK/tSDasvGjAx8Mwo3Y
      9JRM7kPYSacbV4vnDL7WXM/Mgf3gVeUXG8PDApMHltQm/qnE9VnmyrG6TLjVZQGE
      o2gCkQkIiyiRbHsalpemh9XqW4uSv3gefke6kPQ+Sc2y5Bbj9bNmlozbvFu/wYLr
      07zKDCccer8BWEbN1idbK/JCpGTkC2dnQ+RyCwIDAQABAoIBAAm7frHsxmFOHUdA
      o4ac8RrX68sblDvbqNQNyRG6ReEA410JQIkuBD8Oj1iSeB1p53S6mE32exqOpfG2
      fRbzXsS0FhwZwaEZrgg6j/fVrwtPD/R3wXyrKHu0MlJf6U9MCOntT77cHI03pNfs
      qY6BI5Z7y32xd836HcXxv6rxkFB1Ta5gPEdb3J5TxXuog1oH/lpUJByU6CxZpM89
      otR6chb8Lr+4zrDRaW9R63y+1DyiKA4XqPDeltULYIg0WiER1zEpkiY8coe+dVtd
      a7//V9tE9dTqUmWSEnkMNWPhPyKV3f0Tu3peMWb/C46SHS+qWnpaHVmn5zSIjzTz
      hOlB+4kCgYEA2YUg4brztYmkI4wL6CUfjr2FGrYtTqZeEsWOarlzYoYTk7xIWB+f
      iYhaGC1M3gRTq/X2Ceg7wH6i43Hb1gPNOndgK/MzhvdoZReY852bRAjZx+X4NdbV
      ZYd6Ctjbd/PF2BN0gYvUE9j3ej1OV5cdQF2U8B65YNuoWxz7dotdQpUCgYEAzLVw
      IaEUIa1XL0zcQ5CTRe0s211mnDVGgKOlNO2RwDzzOBn3W/yz7VM2wzBlR9Seo4Rt
      WnDtB4Z7QfXX6d/HweSpQBd9Z38nx2TMT24JQM23826BIk3Mjlbb/UeG35JXdAFu
      XiBrIuI+L5DjYYPCkfWiJYj7G7KNf/Wzgc4tWh8CgYEAxIHWkNbaMJimJk7wuso+
      1i80vkryZ2k493BuFtBvAwTpTr/8A1CeShtaeRkDplb2WBWeLpkU0fQVp7BGz/Mj
      Rrxtr4bIeBeuwhUtYnhxumbciBCjyc/JfS2E/aOnsZgSlgANcrMl5sBN4qrbyZmF
      HY7tbHf1NSF72MQ4EIIawHkCgYEAuruPS73p5UZ/zy/nhOJu1UyirIAox7l5VILy
      grNrTtbKbpSRJaIAZy6PN8H/wWRcSYDVV7jHHyQ3b1XY3Qg66c2x7jr/M9ez65kx
      Hgub+Tcu46obtbUOMZFeH06N44dUqwdbLBWaZTnHzA/4us08QXS1slOf7AYWOXFh
      i7kNebUCgYEAjN259NsFbWSQDKwEs+CMgH8cYwwTrGszoFexT9+0FHBwM5NncJJW
      maqRdhRjBeroR1MIc4HTch22bkKFCABsjAhZD1MK+EUpnetHQ8MHVpLsMs1Nx+Yu
      xbNRx6wWTWtFJ86Fjd/e4KIO1BVX8UC5oZG6gsjhDyqpUF/qq5SWmNE=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart